@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
<table class="table	table-bordered	table-hover">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Date Of Birth</th>
            <th>Membership Type</th>
        </tr>
    </thead>
    @foreach (var cust in Model)
    {
        <tr>
            <td>@Html.ActionLink(@cust.Name, "Details", new { id = cust.ID })</td>
            <td>@cust.DateOfBirth.Value.ToShortDateString()</td>
            <td>@cust.MembershipType.Name </td>
        </tr>
    }
</table>

