
@{
    ViewBag.Title = "New Rental Form";
}

<h2>New Rental Form</h2>

<form id="newRental">
    <div class="form-group">
        <label>Customer</label>
        <div class="tt-container">
            <input required data-rule-validCustomer="true" id="customer" name="customer" type="text" value="" class="form-control" />
        </div>
        </div>
    <div class="form-group">
        <label>Movies</label>
        <div class="tt-container">
            <input id="movie" name="movie" data-rule-atleastOneMovie="true" type="text" value="" class="form-control" />
        </div>
        </div>
    <div class="row">
        <div class="col-md-4 col-sm-4">
            <ul id="movies" class="list-group">
        </div>
    </div>

    </ul>
    <button class="btn btn-primary">Submit</button>
</form>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
<script>
    $(document).ready(function () {
        var vm = {
            moviesIDs: []
        };
        var customers = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            //prefetch: '../data/films/post_1960.json',
            remote: {
                url: '/api/customers?query=%QUERY',
                wildcard: '%QUERY'
            }
        });
        $('#customer').typeahead({
            minLength: 3,
            highlight: true
        }, {
                name: 'Customers',
                display: 'name',
                source: customers
            }).on("typeahead:select", function (e, customer) {
                vm.customerID = customer.id;
            });
        var movies = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            //prefetch: '../data/films/post_1960.json',
            remote: {
                url: '/api/movies?query=%QUERY',
                wildcard: '%QUERY'
            }
        });

        $('#movie').typeahead({
            minLength: 3,
            highlight: true
        }, {
                name: 'Movies',
                display: 'name',
                source: movies
            }).on("typeahead:select", function (e, movie) {
                $('#movies').append("<li class='list-group-item'>" + movie.name + "</li>");

                $('#movie').typeahead("val", "");

                vm.moviesIDs.push(movie.id);
            });

        $.validator.addMethod("validCustomer", function () {
            return vm.customerID && vm.customerID !== 0;
        }, "Please select a valid Customer.");
        $.validator.addMethod("atleastOneMovie", function () {
            return vm.moviesIDs.length > 0
        }, "Please select at least one movie.");
        var validator = $('#newRental').validate({
            submitHandler: function () {
                $.ajax({
                    url: '/api/NewRentals',
                    method: 'post',
                    data: vm
                })
                    .done(function (e) {
                        toastr.success("Rental recorded successfully.")
                        $('#movie').typeahead("val", "");
                        $('#customer').typeahead("val", "");
                        $('#movies').empty();
                        vm = {
                            moviesIDs: []
                        };
                        validator.resetForm();
                    })
                    .fail(function (e) {
                        toastr.error("Some error occured");
                    });
                return false;
            }
        });
    });
</script>
}